
html{
  height: 100vh;
  width: 100vw;
}

@media (max-width:599px){
  a {
    margin-right: 15vw;
  }
  #big_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-area: 'main';
  }
  #fb {
    background-image: url('../img/facebook\ icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #header {
    align-content: center;
    border-bottom: 1px solid #7b5a5a;
    display: flex;
    flex-wrap: wrap;
    grid-area: "hd";
  }
  #inst {
    background-image: url('../img/instagram\ icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #li {
    background-image: url('../img/LinkedIn-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    grid-area: 'nav';
  }
  .box {
    padding: 5px;
    border-radius: 5px;
    border-color: black;
  }
  .container {
    height: 100vh;
  }
  .footer {
    grid-area: 'ft';
  }
  .inf {
    padding: 2%;
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .inf h3 {
    width: 50vw;
  }
  .information {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 3fr 3fr ;
    grid-template-areas:
    "inf_1"
    "inf_2"
    "inf_3"
    "inf_4"
    "inf_5";
    height: 85%;
  }
  .inf_1 {
    grid-area: inf_1;
    
  }
  .inf_2 {
    display: flex;
    grid-area: inf_2;
    justify-content: space-between;
  }
  .inf_3 {
    display: flex;
    grid-area: inf_3;
    justify-content: space-between;
  }
  .inf_4 {
    grid-area: inf_4;
    padding: 2%;
  }
  .inf_5 {
    display: flex;
    grid-area: inf_5;
    background-image: url('../img/IMG_6815.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  
  }
  .link {
    border-radius: 5px;
    display: flex; 
    flex-direction: row;
    height: 70%;
    width: 20%;
  }
  .links {
    border-bottom: 1px solid #7b5a5a;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding: 2px;
  }
}

@media (min-width: 600px) and (max-width:900px) {
  .container {
    background-color: yellow;
    display: grid;
    grid-template-columns: stretch 300px 300px 300px;
    grid-template-rows: 50px 100px 300px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "nav nav main main main main main main"
    "ft ft ft ft ft ft ft ft";
  }
}

@media (min-width:901px) {
  .container {

    background-color: gray;
    display: grid;
    grid-template-columns: stretch 300px 300px 300px;
    grid-template-rows: 50px 100px 300px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "nav nav main main main main main main"
    "ft ft ft ft ft ft ft ft";
  }
} 


h1 {
  text-decoration: underline;
  font-style: italic;
}



