* { 
  margin:0;
  padding:0;
  font-family: 'Fira Sans Condensed', sans-serif;

}
body{
  height: 100%;
  width: 100%;
}

@media (max-width:440px){
  
  .container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1.2fr 10fr 1fr ;
    grid-template-areas: 
    "nav"
    "card"
    "ft";
  }
  .quot {
    font-size: 15px;
    font-style: italic;
    text-align: center; 
    margin: auto;
    
  }
}

@media (min-width: 441px) and (max-width:900px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr ;
    grid-template-areas: 
    "nav"
    "card"
    "ft";
  }
  .quot {
    font-size: 15px;
    font-style: italic;
    text-align: center; 
    margin: auto;
  }
}

@media (min-width:901px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr ;
    grid-template-areas: 
    "nav"
    "card"
    "ft";
  }
  .quot {
    font-size: 15px;
    font-style: italic;
    text-align: center; 
    margin: auto;
  }
} 
.box {
  border-radius: 5px;
  padding: 2px;
}
button {
  height: 100%;
  font-style: italic;
  max-width: 100px;
  background-color: #F1E3CB;
  border: none;
  text-align: center;
}
.button {
  border-radius: 5px;
  border: 1px solid black;
  height: 50%;
  min-width: 75px;
  padding: 5px;
  background-color: #F1E3CB;
  text-align: center;
}
.avatar {
  height: 100%;
  margin: 2%;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr  ;
  grid-template-areas:
  "profile"
  "sunset"
  'waterfall';
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.container {
  height: 100vh;
  max-width: 805px;
  margin: auto;
}
.footer {
  display: inline-block;
  text-align: center;
  margin: auto;
  grid-area: 'ft';
}
.profile{
  border-radius: 5px;
  display: flex; 
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-image: url('../img/IMG_6737.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sunset{
  border-radius: 5px;
  display: flex; 
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-image: url('../img/sunset.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.waterfall{
  border-radius: 5px;
  display: flex; 
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-image: url('../img/waterfall.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  border-bottom: 1px solid #7b5a5a;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  grid-area: 'nav';
  margin: 2%;
}
.quot {
  color: #FFC400;
}